@import url("lesshat.less");

@tabBg:            #eee;
@activeTab:           #939393;

@fontColor:           #282828;
@hoverBgColor:        #828282;
@selectedFontColor:     white;

@filterBtnBg:         white;
@containerBg:         #d6d6d6;

@outerBorderRadius:       4px;
@innerBorderRadius:       2px;


.jdfs-main{
  width: 150px;
  height: 50px;
  position: relative;
  display: inline-flex;
  *, *:after, *:before {
    box-sizing: border-box;
  }
  font-size: 16px;



  background: white;
}


.jdfs-window {
  top: 100%;
  left: 0;
  z-index: 3000;
  position: absolute;
  padding: .5em 0;
  height: 0;
  border-radius: 4px;

  width: 500px;


  .display(flex);
  .flex-direction(row);
  .align-items(flex-start);
}
.jdfs-toggle{
  margin: 0;
  background: transparent;
}
.jdfs-toggle,.jdfs-search{
  width: 100%;
  height: 100%;

  border: none;

}
.jdfs-search {
  padding: 1em;
}

.jdfs-fontlistcon {
  padding: .5em;
  overflow: hidden;
  border-radius: @outerBorderRadius 0 0 @outerBorderRadius;
  background: @containerBg;
  width: 60%;
  .flex(1 0);

}

.jdfs-fontlist {
  border-radius: @innerBorderRadius;
  background: white;
  padding: 0;
  margin: 0;
  li {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  label {
    padding: .5em 1em;
    display: block;
    width: 100%;

  }

  input {
    display: none;
  }
}
.jdfs-fontpagination {
  border: none;
  background: white;

}

.jdfs-filter {
  border-radius: 0  @outerBorderRadius @outerBorderRadius 0;
  padding: .5em;
  width: 14em;

  background: @containerBg;
  h4 {
    margin: 0 0 .5em;
  }
}

.jdfs-close {
  position: absolute;
  right: 1em;
  top: 1.45em;
}


.jdfs-filter {
  .jdfs-styles, .jdfs-providers, .jdfs-subsets {
    margin-top: 1em;
    &:first-child {
      margin-top: 0;
    }
  }
}

.jdfs-styles {
  .display(flex);


  .justify-content(space-between);
  .flex-wrap(wrap);
  h4 {
    .flex(100%);
  }
}

.jdfs-filterbtn {

  border-radius: @innerBorderRadius;
  margin: 0 .3rem .3rem 0;
  width: 5em;
  padding: 1em 0;
  flex: 1 1 45%;
  font-size: .7em;
  line-height: 1.2;
  vertical-align: middle;
  display: inline-block;

  background: @filterBtnBg;
  border: none;


  &:focus, &:active {
    outline: none;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.jdfs-highlight,
.jdfs-highlight:hover {
  background: #81b4fc;
  color: white;
}

.jdfs-fontstyle-other {
  display: none;
}
