

@tabBg: #eee;
@activeTab: #939393;

@hoverBgColor: #ededed;
@highlightcolor: #7ec621;
@selectedFontColor: white;

@filterFontColor: white;
@filterBg: #464646;

@outerBorderRadius: 4px;
@innerBorderRadius: 2px;

.jdfs-main{
  *, *:after, *:before{
    box-sizing: border-box;
  }
}


.jdfs-window{
  z-index: 3000;
  position: absolute;
  
  padding: 1em;
  border-radius: 4px;

  width: 500px;


  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.jdfs-toggle,.jdfs-search{

  padding: 1em;
  border: 1px solid #eee;
  background: white;
  width: 15em;

}
.jdfs-fontlistcon{
  padding: .5em .5em .5em .5em;
  overflow: hidden;
  border-radius: @outerBorderRadius 0 0 @outerBorderRadius;
  background: @filterBg;
  width: 60%;
  flex: 1 0;

}

.jdfs-fontlist{
  border-radius: @innerBorderRadius;
  background: white;
  padding: 0;
  margin: 0;
  li{
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  label{
    padding: .5em 1em;
    display: block;
    width: 100%;
    &:hover{
      background: @hoverBgColor;
    }
    &.jdfs-active {
      color: @selectedFontColor;
      background: @highlightcolor;
    }

  }

  input{
    display: none;
  }
}


.jdfs-filter{
  border-radius: 0  @outerBorderRadius @outerBorderRadius 0;
  padding: .5em .5em .5em 0;
  width: 40%;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  justify-content: space-between;
  flex-wrap: wrap;

  color: @filterFontColor;
  background: @filterBg;

}

.jdfs-filterbtn{

  border-radius: @innerBorderRadius;
  margin-bottom: .3em;
  flex: 1 1 33%;

  height: 5em;
  padding: .5em;
  display: inline-block;

  background: white;
  background: white;
  border: none;
  &.jdfs-active{
    background: @highlightcolor;
    color: white;
  }
  &:focus, &:active{
    outline: none;
  }
  &:last-child{
    margin-bottom: 0;
  }
}
.jdfs-charsets{
  flex: 0 0 100%;
}
.jdfs-provider-title{
  background: @tabBg;
  margin: 0;
  font-size: .8em;
  padding: .2em 1em;
  &.jdfs-active{
    background: @activeTab;
  }
}