<div class="jdfs-fontlistcon" ng-class="{'jdfs-active': isActive()}">
		<button
			class="jdfs-fontpagination jdfs-fontpagination-prev"
			ng-click="paginate('prev', $event)"
			ng-class="{'jdfs-disabled': !paginationButtonActive('prev')}"
			ng-disabled="!paginationButtonActive('prev')"
		>{{text.page.prev}}</button>
		<ul class='jdfs-fontlist'>
			<li ng-if="getFilteredFonts().length === 0" class="jdfs-fontlist-noresults">
				{{text.noResultsLabel}}
			</li>
			<li ng-if="hasCuratedFonts()" class="jdfs-fontlist-headline">{{text.curatedFontsListHeadline}}</li>
			<li ng-if="hasCuratedFonts()" class="jdfs-fontlist-headline">{{text.allFontsListHeadline}}</li>
			<jd-font ng-repeat="font in getFilteredFonts() | startFrom: page.current * page.size | limitTo: page.size" />
		</ul>

		<button
				class="jdfs-fontpagination jdfs-fontpagination-next"
				ng-click="paginate('next', $event)"
				ng-class="{'jdfs-disabled': !paginationButtonActive('next')}"
				ng-disabled="!paginationButtonActive('next')"
			>{{text.page.next}}
		</button>

</div>
