<div class="jdfs-main" id="jd-fontselect-{{suffixedId}}">

		<button
			ng-click="toggleSearch($event)"
			ng-class="{'jdfs-highlight': searching}"
			class="jdfs-search-indicator"
		>
		{{text.searchToggleLabel}}

		</button>
		<button
			ng-click="toggleSearch($event)"
			class="jdfs-toggle-search"
			id="jd-fontselect-{{suffixedId}}-toggle-search"
			ng-show="!searching"
			>

			<span class="jdfs-font-name" style="font-family: {{current.font.stack}};">
				{{current.font.name || text.toggleSearchLabel}}
			</span>

		</button>


		<input
			type="text"
			class="jdfs-search"
			placeholder="{{text.search}}"
			name="jdfs-{{id}}-search"
			ng-show="searching"
			ng-model="current.search" />

		<button
		class="jdfs-reset-search"
		ng-click="resetSearch($event)"
		ng-show="searching && current.search.length > 0"
		>
		x
		</button>
	<button
		class="jdfs-toggle"
		ng-click="toggle($event)"
		id="jd-fontselect-{{suffixedId}}-toggle"
		ng-class="{'jdfs-highlight': active}"
	>
	{{active ? text.toggleCloseLabel : text.toggleOpenLabel}}
</button>

	<div class="jdfs-window" ng-if="active">

			<!-- <select ng-model="current.sort.attr" ng-options="text.sort[a.key] for a in sortAttrs"></select> -->
			<!-- <button ng-click="reverseSort()">{{current.sort.direction ? text.sortdir.desc : text.sortdir.asc}}</button> -->
		<jd-fontlist
			fsid="id"
			text="text"
			meta="meta"
			current="current"
			fonts="fonts"
		></jd-fontlist>


		<div class="jdfs-footer-con">
			<a class="jdfs-footer-tab-toggle jdfs-styles-label"
				ng-click="toggleStyles()"
				ng-class="{'jdfs-footer-tab-open': stylesActive}"
			>{{text.styleLabel}}</a>
			<a class="jdfs-footer-tab-toggle jdfs-settings-label"
				ng-click="toggleSettings()"
				ng-class="{'jdfs-footer-tab-open': settingsActive}"
			>{{text.settingsLabel}}</a>
			<div class="jdfs-footer">
				<div class="jdfs-styles" ng-show="stylesActive">
					<button
						class="jdfs-filterbtn jdfs-fontstyle-{{category.key}}"
						ng-repeat="category in categories"
						ng-class="{'jdfs-active jdfs-highlight': category.key == current.category}"
						ng-click="setCategoryFilter(category.key, $event)"
						ng-model="current.category"
					>
						{{text.category[category.key] || toName(category.key)}}
					</button>
				</div>

				<div class="jdfs-settings" ng-show="settingsActive">

					<div class="jdfs-provider-list">
						<h4 class="jdfs-settings-headline">{{text.providerLabel}}</h4>
						<div
							ng-repeat="(provider, active) in current.providers"
							class='jdfs-provider'
							ng-class="{'jdfs-active jdfs-highlight': current.providers[provider]}"
						>
							<input ng-model="current.providers[provider]" type="checkbox" id="jdfs-{{id}}-provider-{{provider}}" />
							<label for="jdfs-{{id}}-provider-{{provider}}">{{text.provider[provider] || toName(provider)}}</label>
						</div>
					</div>

					<div class="jdfs-subsets">
						<h4 class="jdfs-settings-headline">{{text.subsetLabel}}</h4>
						<div
							ng-repeat="(key, name) in current.subsets"
							class='jdfs-subset'
							ng-class="{'jdfs-active jdfs-highlight': current.subsets[key]}"
						>
							<input ng-model="current.subsets[key]" type="checkbox" id="jdfs-{{id}}-subset-{{key}}" />
							<label for="jdfs-{{id}}-subset-{{key}}">{{text.subset[key] || toName(key)}}</label>
						</div>
					</div>


				</div>
			</div>
		</div>

		<jd-meta meta="meta"></jd-meta>

		<button
			ng-click="toggle($event)"
			class="jdfs-close"
			>
			<span>
				{{text.closeButton}}
			</span>
		</button>
	</div>
</div>
