<div class="jdfs-fontlistcon" ng-class="{'jdfs-active': isActive()}">
	<div>
		<ul class='jdfs-fontlist'>
			<jd-font ng-repeat="font in getFilteredFonts() | startFrom: page.current * page.size | limitTo: page.size" />
		</ul>
		<div class="jdfs-paginationcon">
			<button
				ng-repeat="dir in ['prev', 'next']"
				class="jdfs-fontpagination jdfs-fontpagination-{{dir}}"
				ng-click="paginate(dir)"
				ng-class="{'jdfs-disabled': !paginationButtonActive(dir)}"
				ng-disabled="!paginationButtonActive(dir)"
			>{{text.page[dir]}}</button>
		</div>
		<div class="jdfs-pagecon">
			{{text.pageLabel}}
			<span class="jdfs-page-current">{{page.current + 1}}</span>/<span class="jdfs-page-count">{{page.count}}</span>
		</div>
		<div class="jdfs-fontcount">
			{{text.fontFabel}}
			<span ng-if="getFilteredFonts().length == fonts.length">{{fonts.length}}</span>
			<span ng-if="fonts.length && getFilteredFonts().length != fonts.length">{{getFilteredFonts().length}}/{{fonts.length}}</span>
			<span ng-if="!fonts.length">…</span>
		</div>
	</div>
</div>