<div class="jdfs-main" id="jd-fontselect-{{id}}">
	<button
		ng-click="toggle()"
		class="jdfs-toggle"
		style="font-family: {{current.font.stack}};"
		ng-show="!active"
		>
		<span>
			{{current.font.name || text.button}}
		</span>
	</button>
	<input
		type="text"
		class="jdfs-search"
		placeholder="{{text.search}}"
		name="jdfs-{{id}}-search"
		ng-show="active"
		ng-model="current.search" />
	<div class="jdfs-window" ng-show="active">

			<!-- <select ng-model="current.sort.attr" ng-options="text.sort[a.key] for a in sortAttrs"></select> -->
			<!-- <button ng-click="reverseSort()">{{current.sort.direction ? text.sortdir.desc : text.sortdir.asc}}</button> -->
		<jd-fontlist
			fsid="id"
			text="text"
			current="current"
			fonts="fonts"
			active="active"
		></jd-fontlist>

		<div class="jdfs-filter">
			<div class="jdfs-styles">
				<h4 class="jdfs-filter-headline">{{text.styleLabel}}</h4>
				<button
					class="jdfs-filterbtn jdfs-fontstyle-{{category.key}}"
					ng-repeat="category in categories"
					ng-class="{'jdfs-active jdfs-highlight': category.key == current.category}"
					ng-click="setCategoryFilter(category.key)"
					ng-model="current.category"
				>
					{{text.category[category.key] || toName(category.key)}}
				</button>
			</div>

			<div class="jdfs-providers">
				<h4 class="jdfs-filter-headline">{{text.providerLabel}}</h4>
				<div
					ng-repeat="(provider, active) in current.providers"
					class='jdfs-provider'
					ng-class="{'jdfs-active jdfs-highlight': current.providers[provider]}"
				>
					<input ng-model="current.providers[provider]" type="checkbox" id="jdfs-{{id}}-provider-{{provider}}" />
					<label for="jdfs-{{id}}-provider-{{provider}}">{{text.provider[provider] || toName(provider)}}</label>
				</div>
			</div>

			<div class="jdfs-subsets">
				<h4 class="jdfs-filter-headline">{{text.subsetLabel}}</h4>
				<div
					ng-repeat="(key, name) in current.subsets"
					class='jdfs-subset'
					ng-class="{'jdfs-active jdfs-highlight': current.subsets[key]}"
				>
					<input ng-model="current.subsets[key]" type="checkbox" id="jdfs-{{id}}-subset-{{key}}" />
					<label for="jdfs-{{id}}-subset-{{key}}">{{text.subset[key] || toName(key)}}</label>
				</div>
			</div>

			<button
				ng-click="toggle()"
				class="jdfs-close"
				>
				<span>
					{{text.closeButton}}
				</span>
			</button>
		</div>
	</div>
</div>